<!-- <div class = 'home-splash-container'> 
    <div class = 'splash-text-div'>
        <p>Find and Drop eggs with content/info on a shared map! </p>
    </div>
    <div class = 'splash-text-CTA'>
        <input type = 'text' placeholder="Enter email for alpha key"/>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Beta Email</button>
    </div>
    
</div> -->
<!-- <div class = "jumbotron"> -->
    <div class="container remaining-height justify-content-center d-flex align-items-center">
        <div class = 'home-splash-container'>
            <div class = 'splash-text-div text-white'>
                <h2 class= 'splash-text'>Find and drop eggs with <br> content on a shared map! </h2>
            </div>
            <div class="input-group mb-3 splash-text-CTA">
                <input type="text" class="form-control" placeholder="Enter Email for Beta Access" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Submit</button>
                </div>
              </div>
        </div>
    </div>
<!-- </div> -->

